In [1]:
 import pandas as pd

In [2]:
this_df=pd.read_csv("survey_results_public.csv")
this_df

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,None of these,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,"Employed, full-time",Fully remote,Hobby;Contribute to open-source projects,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Difficult,NaN
2,3,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,NaN,14,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,40205.0
3,4,I am a developer by profession,"Employed, full-time",Fully remote,I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Books / Physical media;School (i.e., Universit...",NaN,NaN,20,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,215232.0
4,5,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,8,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73263,73264,I am a developer by profession,"Employed, full-time",Fully remote,Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,Udemy,8,...,30-60 minutes a day,Less than 15 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Easy,NaN
73264,73265,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,Coursera;Udemy;Udacity,6,...,15-30 minutes a day,60-120 minutes a day,Very long,None of these,No,Yes,Yes,Too long,Easy,NaN
73265,73266,"I am not primarily a developer, but I write co...","Employed, full-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Other online resources ...,Technical documentation;Programming Games;Stac...,Udemy;Codecademy;Pluralsight;edX,42,...,30-60 minutes a day,60-120 minutes a day,Just right,None of these,No,No,No,Appropriate in length,Easy,NaN
73266,73267,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;On the job training,NaN,NaN,50,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
73267,73268,"I used to be a developer by profession, but no...","Independent contractor, freelancer, or self-em...",Fully remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Friend or family member...,Technical documentation;Blogs;Programming Game...,Udemy;Pluralsight,16,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN

In [3]:
this_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73268 entries, 0 to 73267
Data columns (total 79 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ResponseId                      73268 non-null  int64
 1   MainBranch                      73268 non-null  object
 2   Employment                      71709 non-null  object
 3   RemoteWork                      58958 non-null  object
 4   CodingActivities                58899 non-null  object
 5   EdLevel                         71571 non-null  object
 6   LearnCode                       71580 non-null  object
 7   LearnCodeOnline                 50685 non-null  object
 8   LearnCodeCoursesCert            29389 non-null  object
 9   YearsCode                       71331 non-null  object
 10  YearsCodePro                    51833 non-null  object
 11  DevType                         61302 non-null  object
 12  OrgSize                         51039 non-null  object
 13  PurchaseInfluence               50969 non-null  object
 14  BuyNewTool                      67963 non-null  object
 15  Country                         71771 non-null  object
 16  Currency                        51264 non-null  object
 17  CompTotal                       38422 non-null  float64
 18  CompFreq                        44425 non-null  object
 19  LanguageHaveWorkedWith          70975 non-null  object
 20  LanguageWantToWorkWith          67027 non-null  object
 21  DatabaseHaveWorkedWith          60121 non-null  object
 22  DatabaseWantToWorkWith          51014 non-null  object
 23  PlatformHaveWorkedWith          49924 non-null  object
 24  PlatformWantToWorkWith          40415 non-null  object
 25  WebframeHaveWorkedWith          53544 non-null  object
 26  WebframeWantToWorkWith          46122 non-null  object
 27  MiscTechHaveWorkedWith          44992 non-null  object
 28  MiscTechWantToWorkWith          36810 non-null  object
 29  ToolsTechHaveWorkedWith         54171 non-null  object
 30  ToolsTechWantToWorkWith         46566 non-null  object
 31  NEWCollabToolsHaveWorkedWith    70347 non-null  object
 32  NEWCollabToolsWantToWorkWith    64108 non-null  object
 33  OpSysProfessional use           65503 non-null  object
 34  OpSysPersonal use               70963 non-null  object
 35  VersionControlSystem            71379 non-null  object
 36  VCInteraction                   68156 non-null  object
 37  VCHostingPersonal use           0 non-null      float64
 38  VCHostingProfessional use       0 non-null      float64
 39  OfficeStackAsyncHaveWorkedWith  46223 non-null  object
 40  OfficeStackAsyncWantToWorkWith  32072 non-null  object
 41  OfficeStackSyncHaveWorkedWith   62128 non-null  object
 42  OfficeStackSyncWantToWorkWith   47688 non-null  object
 43  Blockchain                      71071 non-null  object
 44  NEWSOSites                      71365 non-null  object
 45  SOVisitFreq                     70961 non-null  object
 46  SOAccount                       71572 non-null  object
 47  SOPartFreq                      58229 non-null  object
 48  SOComm                          71408 non-null  object
 49  Age                             70946 non-null  object
 50  Gender                          70853 non-null  object
 51  Trans                           70315 non-null  object
 52  Sexuality                       66565 non-null  object
 53  Ethnicity                       69474 non-null  object
 54  Accessibility                   67244 non-null  object
 55  MentalHealth                    66447 non-null  object
 56  TBranch                         52670 non-null  object
 57  ICorPM                          36283 non-null  object
 58  WorkExp                         36769 non-null  float64
 59  Knowledge_1                     35804 non-null  object
 60  Knowledge_2                     34973 non-null  object
 61  Knowledge_3                     35133 non-null  object
 62  Knowledge_4                     35097 non-null  object
 63  Knowledge_5                     35014 non-null  object
 64  Knowledge_6                     34991 non-null  object
 65  Knowledge_7                     34977 non-null  object
 66  Frequency_1                     35371 non-null  object
 67  Frequency_2                     35344 non-null  object
 68  Frequency_3                     34515 non-null  object
 69  TimeSearching                   36198 non-null  object
 70  TimeAnswering                   36022 non-null  object
 71  Onboarding                      35679 non-null  object
 72  ProfessionalTech                34906 non-null  object
 73  TrueFalse_1                     35819 non-null  object
 74  TrueFalse_2                     35715 non-null  object
 75  TrueFalse_3                     35749 non-null  object
 76  SurveyLength                    70444 non-null  object
 77  SurveyEase                      70508 non-null  object
 78  ConvertedCompYearly             38071 non-null  float64
dtypes: float64(5), int64(1), object(73)
memory usage: 44.2+ MB

In [4]:
this_df['ConvertedCompYearly'].median()

67845.0

In [5]:
this_df.describe()

,ResponseId,CompTotal,VCHostingPersonal use,VCHostingProfessional use,WorkExp,ConvertedCompYearly
count,73268.000000,3.842200e+04,0.0,0.0,36769.000000,3.807100e+04
mean,36634.500000,2.342434e+52,NaN,NaN,10.242378,1.707613e+05
std,21150.794099,4.591478e+54,NaN,NaN,8.706850,7.814132e+05
min,1.000000,0.000000e+00,NaN,NaN,0.000000,1.000000e+00
25%,18317.750000,3.000000e+04,NaN,NaN,4.000000,3.583200e+04
50%,36634.500000,7.750000e+04,NaN,NaN,8.000000,6.784500e+04
75%,54951.250000,1.540000e+05,NaN,NaN,15.000000,1.200000e+05
max,73268.000000,9.000000e+56,NaN,NaN,50.000000,5.000000e+07

In [6]:
this_df['ConvertedCompYearly'].describe()

count    3.807100e+04
mean     1.707613e+05
std      7.814132e+05
min      1.000000e+00
25%      3.583200e+04
50%      6.784500e+04
75%      1.200000e+05
max      5.000000e+07
Name: ConvertedCompYearly, dtype: float64

In [7]:
this_df.count()

ResponseId             73268
MainBranch             73268
Employment             71709
RemoteWork             58958
CodingActivities       58899
                       ...
TrueFalse_2            35715
TrueFalse_3            35749
SurveyLength           70444
SurveyEase             70508
ConvertedCompYearly    38071
Length: 79, dtype: int64

In [8]:
this_df['ConvertedCompYearly'].count()

38071

In [9]:
this_df['CodingActivities'].value_counts()

CodingActivities
Hobby                                                                                                                                  18118
I don’t code outside of work                                                                                                            7311
Hobby;Contribute to open-source projects                                                                                                6549
Hobby;Freelance/contract work                                                                                                           3554
Hobby;School or academic work                                                                                                           3016
                                                                                                                                       ...
Contribute to open-source projects;Freelance/contract work;Other (please specify):;School or academic work                                 2
Hobby;Contribute to open-source projects;Bootstrapping a business;Other (please specify):;School or academic work                          2
Contribute to open-source projects;Bootstrapping a business;Freelance/contract work;Other (please specify):                                1
Contribute to open-source projects;Bootstrapping a business;Freelance/contract work;Other (please specify):;School or academic work        1
Bootstrapping a business;Other (please specify):;School or academic work                                                                   1
Name: count, Length: 63, dtype: int64

In [10]:
this_df['CodingActivities'].value_counts(normalize=True)

CodingActivities
Hobby                                                                                                                                  0.307611
I don’t code outside of work                                                                                                           0.124128
Hobby;Contribute to open-source projects                                                                                               0.111190
Hobby;Freelance/contract work                                                                                                          0.060341
Hobby;School or academic work                                                                                                          0.051206
                                                                                                                                         ...
Contribute to open-source projects;Freelance/contract work;Other (please specify):;School or academic work                             0.000034
Hobby;Contribute to open-source projects;Bootstrapping a business;Other (please specify):;School or academic work                      0.000034
Contribute to open-source projects;Bootstrapping a business;Freelance/contract work;Other (please specify):                            0.000017
Contribute to open-source projects;Bootstrapping a business;Freelance/contract work;Other (please specify):;School or academic work    0.000017
Bootstrapping a business;Other (please specify):;School or academic work                                                               0.000017
Name: proportion, Length: 63, dtype: float64

In [11]:
this_df['Country'].value_counts()

Country
United States of America                                13543
India                                                    6639
Germany                                                  5395
United Kingdom of Great Britain and Northern Ireland     4190
Canada                                                   2490
                                                        ...
Monaco                                                      1
Djibouti                                                    1
Seychelles                                                  1
Solomon Islands                                             1
Saint Kitts and Nevis                                       1
Name: count, Length: 180, dtype: int64

In [12]:
this_grp=this_df.groupby(['Country'])
this_grp

In [13]:
this_grp.get_group('India')

,ResponseId,MainBranch,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,LearnCodeCoursesCert,YearsCode,...,TimeSearching,TimeAnswering,Onboarding,ProfessionalTech,TrueFalse_1,TrueFalse_2,TrueFalse_3,SurveyLength,SurveyEase,ConvertedCompYearly
6,7,I code primarily as a hobby,"Student, part-time",NaN,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses,NaN,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
7,8,I am a developer by profession,"Not employed, but looking for work",NaN,NaN,Some college/university study without earning ...,Online Courses or Certification,NaN,Coursera;Udemy,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN
65,66,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Other (please specify):,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Inte...,Udemy,3,...,30-60 minutes a day,15-30 minutes a day,Just right,Microservices;Continuous integration (CI) and ...,No,Yes,Yes,Too long,Easy,NaN
140,141,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",I don’t code outside of work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Written Tutorials;Stac...,NaN,13,...,30-60 minutes a day,30-60 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,NaN
151,152,I am a developer by profession,"Employed, full-time",Full in-person,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;W...,Udemy;Pluralsight;Udacity,12,...,30-60 minutes a day,Less than 15 minutes a day,Somewhat long,None of these,Yes,Yes,Yes,Appropriate in length,Neither easy nor difficult,15480.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73184,73185,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Online Courses or Certification,NaN,edX,8,...,Over 120 minutes a day,30-60 minutes a day,Just right,Innersource initiative;DevOps function;Microse...,No,Yes,No,Appropriate in length,Easy,NaN
73193,73194,"I used to be a developer by profession, but no...","Employed, full-time",Fully remote,Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Stack Overflow;Video-b...,Coursera;Udemy,20,...,15-30 minutes a day,15-30 minutes a day,Somewhat long,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Appropriate in length,Easy,NaN
73255,73256,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Freelance/contract work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Stack Overflow;O...,NaN,14,...,60-120 minutes a day,Less than 15 minutes a day,Somewhat long,DevOps function;Microservices;Continuous integ...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN
73257,73258,I am learning to code,"Student, full-time",NaN,NaN,"Secondary school (e.g. American high school, G...",Books / Physical media;Other online resources ...,Technical documentation;Blogs;Written Tutorial...,NaN,7,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN
73258,73259,I am a developer by profession,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)","Other online resources (e.g., videos, blogs, f...",Stack Overflow;Video-based Online Courses;Onli...,Coursera;Udemy,5,...,15-30 minutes a day,15-30 minutes a day,Just right,DevOps function;Microservices;Developer portal...,Yes,Yes,Yes,Too long,Neither easy nor difficult,NaN

In [14]:
ffilt=this_df['Country']=='India'
ffilt

0        False
1        False
2        False
3        False
4        False
         ...
73263    False
73264    False
73265    False
73266    False
73267    False
Name: Country, Length: 73268, dtype: bool

In [19]:
#applying a function in grouping
this_df.loc[ffilt]['DevType'].value_counts().head(10)

DevType
Developer, full-stack                                             690
Developer, back-end                                               564
Developer, front-end                                              340
Developer, mobile                                                 248
Developer, front-end;Developer, full-stack;Developer, back-end    203
Developer, full-stack;Developer, back-end                         168
Student                                                           133
Developer, front-end;Developer, full-stack                        120
Other (please specify):                                            71
Developer, front-end;Developer, mobile                             65
Name: count, dtype: int64

In [18]:
#applying functions using the groupby mtd
this_grp['DevType'].value_counts()

Country      DevType
Afghanistan  Developer, full-stack                                                                                                                                                                 6
             Academic researcher                                                                                                                                                                   3
             Developer, back-end                                                                                                                                                                   2
             Developer, front-end;Developer, full-stack;Developer, back-end                                                                                                                        2
             Developer, front-end;Developer, full-stack;Developer, back-end;Developer, mobile;Engineering manager;Database administrator;Project manager;Designer                                  1
                                                                                                                                                                                                  ..
Zimbabwe     Developer, back-end;Database administrator;Project manager;Cloud infrastructure engineer;Product manager                                                                              1
             Developer, back-end                                                                                                                                                                   1
             Data scientist or machine learning specialist;Engineer, data                                                                                                                          1
             Data scientist or machine learning specialist;Developer, front-end;Engineer, data;Developer, full-stack;Developer, back-end;Developer, desktop or enterprise applications;Designer    1
             Other (please specify):                                                                                                                                                               1
Name: count, Length: 23605, dtype: int64

In [20]:
 this_grp['DevType'].value_counts().loc['India']

DevType
Developer, full-stack                                                                                690
Developer, back-end                                                                                  564
Developer, front-end                                                                                 340
Developer, mobile                                                                                    248
Developer, front-end;Developer, full-stack;Developer, back-end                                       203
                                                                                                    ...
Developer, desktop or enterprise applications;Engineering manager;Other (please specify):              1
Developer, desktop or enterprise applications;Educator;Database administrator;Academic researcher      1
Developer, desktop or enterprise applications;Educator                                                 1
Developer, desktop or enterprise applications;Developer, mobile;Product manager                        1
Developer, desktop or enterprise applications;Developer, mobile;Engineering manager                    1
Name: count, Length: 1106, dtype: int64

In [21]:
this_grp['ConvertedCompYearly'].median()

Country
Afghanistan                             10894.0
Albania                                 15360.0
Algeria                                  7440.0
Andorra                                 76784.0
Angola                                   3073.5
                                         ...
Venezuela, Bolivarian Republic of...    12000.0
Viet Nam                                11388.0
Yemen                                   15000.0
Zambia                                   6612.0
Zimbabwe                                11400.0
Name: ConvertedCompYearly, Length: 180, dtype: float64

In [22]:
this_grp['ConvertedCompYearly'].median().loc['Kenya']

12792.0

In [23]:
this_grp['ConvertedCompYearly'].agg(['median','mean'])

                                       median          mean
Country
Afghanistan                           10894.0  33914.666667
Albania                               15360.0  24895.148148
Algeria                                7440.0  12732.888889
Andorra                               76784.0  98003.125000
Angola                                 3073.5   6222.750000
...                                       ...           ...
Venezuela, Bolivarian Republic of...  12000.0  17079.400000
Viet Nam                              11388.0  37707.563830
Yemen                                 15000.0  17464.666667
Zambia                                 6612.0   8452.000000
Zimbabwe                              11400.0  87596.000000

[180 rows x 2 columns]

In [24]:
this_grp['ConvertedCompYearly'].agg(['mean','median']).loc['Kenya']

mean      25384.103448
median    12792.000000
Name: Kenya, dtype: float64

In [27]:
this_df.loc[ffilt]['LanguageHaveWorkedWith']

6            C++;HTML/CSS;JavaScript;PHP;Python;TypeScript
7                       C;C++;HTML/CSS;Java;JavaScript;SQL
65                                                      C#
140                  HTML/CSS;JavaScript;Kotlin;TypeScript
151         Bash/Shell;HTML/CSS;Java;JavaScript;Python;SQL
                               ...
73184                                          Java;Python
73193                                  HTML/CSS;JavaScript
73255    Bash/Shell;C#;HTML/CSS;JavaScript;Perl;PowerSh...
73257                                         C;Python;SQL
73258                                          Go;Java;SQL
Name: LanguageHaveWorkedWith, Length: 6639, dtype: object

In [30]:
this_df.loc[ffilt]['LanguageHaveWorkedWith'].str.contains('Python').sum()

3081

In [31]:
this_grp['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum())

Country
Afghanistan                              25
Albania                                  19
Algeria                                  19
Andorra                                   4
Angola                                    3
                                       ...
Venezuela, Bolivarian Republic of...     52
Viet Nam                                136
Yemen                                     4
Zambia                                    6
Zimbabwe                                 11
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

In [34]:
#percentage
this_grp['LanguageHaveWorkedWith'].apply(lambda x:x.str.contains('Python').value_counts(normalize=True))

Country
Afghanistan  False    0.609375
             True     0.390625
Albania      False    0.660714
             True     0.339286
Algeria      True     0.527778
                        ...
Yemen        True     0.285714
Zambia       False    0.647059
             True     0.352941
Zimbabwe     False    0.607143
             True     0.392857
Name: LanguageHaveWorkedWith, Length: 345, dtype: float64

In [36]:
resgp=this_grp['Country'].value_counts()
resgp

Country
Afghanistan                              69
Albania                                  59
Algeria                                  36
Andorra                                  15
Angola                                   12
                                       ...
Venezuela, Bolivarian Republic of...    119
Viet Nam                                317
Yemen                                    14
Zambia                                   20
Zimbabwe                                 30
Name: count, Length: 180, dtype: int64

In [37]:
pygp=this_grp['LanguageHaveWorkedWith'].apply(lambda x:x.str.contains('Python').sum())
pygp

Country
Afghanistan                              25
Albania                                  19
Algeria                                  19
Andorra                                   4
Angola                                    3
                                       ...
Venezuela, Bolivarian Republic of...     52
Viet Nam                                136
Yemen                                     4
Zambia                                    6
Zimbabwe                                 11
Name: LanguageHaveWorkedWith, Length: 180, dtype: int64

In [38]:
serDf=pd.concat([resgp,pygp],axis='columns',sort=False)
serDf

                                      count  LanguageHaveWorkedWith
Country
Afghanistan                              69                      25
Albania                                  59                      19
Algeria                                  36                      19
Andorra                                  15                       4
Angola                                   12                       3
...                                     ...                     ...
Venezuela, Bolivarian Republic of...    119                      52
Viet Nam                                317                     136
Yemen                                    14                       4
Zambia                                   20                       6
Zimbabwe                                 30                      11

[180 rows x 2 columns]

In [45]:
serDf.rename(columns={'count':'No.ofRespondents','LanguageHaveWorkedWith':'No.KnowPy'},inplace=True)
serDf

                                      No.ofRespondents  No.KnowPy
Country
Afghanistan                                         69         25
Albania                                             59         19
Algeria                                             36         19
Andorra                                             15          4
Angola                                              12          3
...                                                ...        ...
Venezuela, Bolivarian Republic of...               119         52
Viet Nam                                           317        136
Yemen                                               14          4
Zambia                                              20          6
Zimbabwe                                            30         11

[180 rows x 2 columns]

In [46]:
serDf

                                      No.ofRespondents  No.KnowPy
Country
Afghanistan                                         69         25
Albania                                             59         19
Algeria                                             36         19
Andorra                                             15          4
Angola                                              12          3
...                                                ...        ...
Venezuela, Bolivarian Republic of...               119         52
Viet Nam                                           317        136
Yemen                                               14          4
Zambia                                              20          6
Zimbabwe                                            30         11

[180 rows x 2 columns]

In [48]:
serDf['PctPy']=(serDf['No.KnowPy']/serDf['No.ofRespondents'])*100
serDf

                                      No.ofRespondents  No.KnowPy      PctPy
Country
Afghanistan                                         69         25  36.231884
Albania                                             59         19  32.203390
Algeria                                             36         19  52.777778
Andorra                                             15          4  26.666667
Angola                                              12          3  25.000000
...                                                ...        ...        ...
Venezuela, Bolivarian Republic of...               119         52  43.697479
Viet Nam                                           317        136  42.902208
Yemen                                               14          4  28.571429
Zambia                                              20          6  30.000000
Zimbabwe                                            30         11  36.666667

[180 rows x 3 columns]

In [52]:
serDf.sort_values(by='PctPy',ascending=False,inplace=True)
serDf.head(50)

                                  No.ofRespondents  No.KnowPy       PctPy
Country
Brunei Darussalam                                1          1  100.000000
Solomon Islands                                  1          1  100.000000
Saint Kitts and Nevis                            1          1  100.000000
North Korea                                      4          4  100.000000
Fiji                                             2          2  100.000000
Burkina Faso                                     1          1  100.000000
Papua New Guinea                                 2          2  100.000000
Lao People's Democratic Republic                 7          6   85.714286
Timor-Leste                                      4          3   75.000000
Suriname                                         4          3   75.000000
Democratic Republic of the Congo                 7          5   71.428571
Mali                                            10          7   70.000000
Kuwait                                          20         14   70.000000
Oman                                            13          9   69.230769
Botswana                                         6          4   66.666667
Belize                                           3          2   66.666667
Haiti                                            3          2   66.666667
Singapore                                      226        148   65.486726
Rwanda                                          20         13   65.000000
Benin                                           11          7   63.636364
Guinea                                           5          3   60.000000
Qatar                                           20         12   60.000000
Isle of Man                                     12          7   58.333333
Côte d'Ivoire                                   14          8   57.142857
Swaziland                                        7          4   57.142857
Israel                                         795        453   56.981132
Taiwan                                         233        132   56.652361
Guatemala                                       54         30   55.555556
Finland                                        468        260   55.555556
Cuba                                            31         17   54.838710
Switzerland                                    932        507   54.399142
Algeria                                         36         19   52.777778
China                                          632        332   52.531646
Ireland                                        332        174   52.409639
Sri Lanka                                      296        155   52.364865
Hong Kong (S.A.R.)                             184         96   52.173913
United States of America                     13543       7017   51.812745
France                                        2328       1204   51.718213
Malta                                           39         20   51.282051
South Korea                                    229        117   51.091703
Canada                                        2490       1272   51.084337
Barbados                                         6          3   50.000000
Nepal                                          222        111   50.000000
Cameroon                                        34         17   50.000000
Liberia                                          2          1   50.000000
Turkmenistan                                    16          8   50.000000
Republic of Korea                               72         36   50.000000
United Republic of Tanzania                     28         14   50.000000
Guyana                                           6          3   50.000000
Mauritania                                       2          1   50.000000

In [53]:
serDf.loc['Kenya']

No.ofRespondents    270.000000
No.KnowPy           130.000000
PctPy                48.148148
Name: Kenya, dtype: float64